body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}
/*Container styles*/
.container {
    max-width: 800px;
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    background-color: rgb(52, 73, 94);
    border-radius: 8px;
    color: white;
}

h1 {
    text-align: center;
}

p {
    line-height: 1.6;
}

/* Background image */
body {
    background-image: url('/img/bck-grnd.jpg');
    background-size: cover;
    background-position: center;
}

/* Responsive styles */
@media (max-width: 768px) {
    .container {
        padding: 10px;
    }
}

@media (max-width: 576px) {
    .container {
        padding: 5px;
    }
}
